/* Google font Nunito Sans imported (a good font for displaying text and numbers) */
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");

/* Remove all of the margins, paddings and borders  */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Body styling */
body {
    font-family: Nunito, sans-serif;
}

/* Header class styling */
.header {
    height: 9vh;
    padding: 10px;
}

/* Align the text in the center of the screen */
.text-center {
    text-align: center;
}

/* Logo image class styling */
.logo {
    height: 50px;
    width: 50px;
}

/* Pick numbers image class styling */
.pick-num-image {
    height: 100px;
    width: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Lottery area styling */
.lottery-section {
    background-color: #D3D3D3;
    box-sizing: border-box;
    width: 100%;
    height: 86vh;
    padding: 10px;
}

/* Lottery game buttons styling */
.btn-game {
    width: 250px;
    height: 50px;
    display: inline-block;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 10px;
    background-color: white;
    border: 5px solid;
}

/* Euromillions button styling */
.btn-euromillions {
    color: green;
    border-color: green;
}

/* Euromillions button active, hover, focus styling */
.btn-euromillions:active,
.btn-euromillions:hover,
.btn-euromillions:focus {
    background-color: darkgreen;
    color: white;
}

/* Lotto button styling */
.btn-lotto {
    color: red;
    border-color: red;
}

/* Lotto button active, hover, focus styling */
.btn-lotto:active,
.btn-lotto:hover,
.btn-lotto:focus {
    background-color: darkred;
    color: white;
}

/* Dailymillions button styling */
.btn-dailymillions {
    color: blue;
    border-color: blue;
}

/* Dailymillions button active, hover, focus styling */
.btn-dailymillions:active,
.btn-dailymillions:hover,
.btn-dailymillions:focus {
    background-color: darkblue;
    color: white;
}

/* Lottery criteria styling */
.lottery-criteria {
    font-weight: bold;
}

/* Lottery criteria check and input boxes styling */
.box-criteria {
    border: 2px solid black;
    height: 30px;
    width: 50px;
    font-size: 1.3rem;
    text-align: right;
}

/* Generate random numbers button styling: default to euromillions colour green */
.btn-generate {
    background-color: #445361;
    border-color: black;
    color: white;
}

/* Generate button active, hover, focus styling */
.btn-generate:active,
.btn-generate:hover,
.btn-generate:focus {
    background-color: #0d1013;
}

/* Footer styling */
footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    color: white;
}

/* Results div styling */
.results {
    display: none;
    height: 330px;
    font-weight: bolder;
    font-size: 103%;
}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    /* Body text styling, 80% size of original */
    body {
        font-size: 80%;
    }
}

/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 800px) {

    /* Body text styling, 70% size of original */
    body {
        font-size: 72%;
    }

    /* Lottery game buttons styling */
    .btn-game {
        width: 200px;
        height: 30px;
        font-size: 80%;
    }

    /* Results div styling */
    .results {
        height: 295px;
    }
}