/* Google font Nunito Sans imported (a good font for displaying text and numbers) */
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");

/* Remove all of the margins, paddings and borders  */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Body styling */
body {
    font-family: Nunito, sans-serif;    
}

/* Header class styling */
.header {
    height: 20vh;
    padding: 10px;   
}

/* Align the text in the center of the screen */
.text-center {
    text-align: center;
}

/* Logo class styling */
.logo {
    height: 100px;
    width: 100px;       
}

/* Lottery area styling */
.lottery-section {
    background-color: #D3D3D3;
    box-sizing: border-box;
    width: 85%;
    height: 70vh;   
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

/* Lottery game buttons styling */
.btn-game {
    width: 250px;
    height: 50px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
    background-color: white;
    border: 5px solid;
}

/* Euromillions button styling */
.btn-euromillions {
    color: green;
}

/* Lotto button styling */
.btn-lotto {
    color: red;
}

/* Dailymillions button styling */
.btn-dailymillions {
    color: blue;
}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px) {

     /* Body text styling, 80% size of original */
     body {
        font-size: 80%;
    }  
}

/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 800px) {

     /* Body text styling, 70% size of original */
     body {
        font-size: 70%;
    }
}